{% extends 'base.html.twig' %}

{% block body %}

    <div style="background-color: red">
        <h1>PAGE EXTEND !!!!!!!!</h1>
        <pre>
            {{ controller }}
            {{ name }}
            {{ params }}
        </pre>
    </div>

{% endblock %}